body {
  background-color: rgb(255, 255, 255);
  font-family: sans-serif;
}

.header {
  padding: 8px;
  text-align: center;
  background: #87d4e3;
  color: white;
  font-size: 25px;
  font-family: sans-serif;
  height: auto;
}

/* CSS */

.button-1 {

  width: 10%;
  border-radius: 10px;
  background-color: rgb(13, 64, 105) ;

  text-align: center;
  padding: 10px 40px;
  border: 0;

  color: white;
  cursor: pointer;
  font-size: 15px;
  position: relative;
  left: 1100px;
  top: -180px;
  }



  .button-1:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(13, 64, 105) 0 -3px 0 inset;
  transform: translateY(-2px);
  }

  .button-1:active {
  box-shadow: rgb(13, 64, 105)0 3px 7px inset;
  transform: translateY(2px);