{% extends 'app/base.html' %}
{% block content %}

{% include 'app/navBar.html' with thisUser=thisUser userId=userId showOptions=showOptions %}

{%load static%}

<form action="" method="POST">
    {% csrf_token %} 

    Video Name: <input type="text" name="video_name"/><br/>
    <br/>
    Video link: <input type="text" name="video_link"/><br/>
    <br/>
    Duration: <input type="number" name="duration"/><br/>
    <br/>
    <input type="submit" value="Post" href="course/{{ course.id }}"/>
</form>

{% endblock %}