{% extends 'app/base.html' %}
{% block content %}

<style>
    h2{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
</style>

{% include 'app/navBar.html' with thisUser=thisUser userId=userId %}
<h2> - Courses created</h2>
{% if not coursesMade %}
    <h3>0 courses created</h3>
{% else %}
    <ul>  
    {% for course in coursesMade %}
        <li> 
        <a href="../course/{{ course.id }}">{{course.courseId.name}}</a>
        </li>
    {% endfor %}
{% endif %}
</ul>

{% endblock %}
