{% extends 'app/base.html' %} 
{% block content %}

{% load static %}

<style>

  .course-header {
    background-color: rgb(13, 64, 105);
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
  }
 
  .live-chat{
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
    color: rgb(13, 64, 105);
    text-align: center;
  }

  .course-body {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #96dae7;
    align-items: flex-start;
    height:fit-content;
  }

  .teaching-units{
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    width: 70%;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 15px;
  }

  .ratings{
    padding: 20px;
    padding-top: 0px;
    background-color: white;
    width: 30%;
    border: 1px solid black;
    border-radius: 15px;
  }

  .teachingUnit {
    color: black;
  }

  a {
    color: white;
  }



  .rating{
    background-color: #0f8775;
    opacity: 80%;
    color: white;
    padding:3px;
    border-radius: 5px;
    padding-left: 10px;
    margin: 2px;
    
  }

  .ratings-header {
    display: flex;  
    justify-content: space-between;
    align-items: center;
  }

  .button {
    width: fit-content;
    border-radius: 10px;
    background-color: #4ebcd2;
    padding: 5px;

    text-align: center;
    border: 0;

    color: white;
    cursor: pointer;
    font-size: 15px;
    
    text-decoration: none;
  }

    .button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #16788c 0 -3px 0 inset;
    transform: translateY(-2px);
    }

    .button:active {
    box-shadow: rgb(13, 64, 105)0 3px 7px inset;
    transform: translateY(2px);
    }

    .container{

      background-color: #5eaa9f89;
      max-width: 500px;
      
      padding: 20px;
      border-radius: 20px;
    }

    .star{
      width: 20px;
    }

    .add{
      float: right;
      margin: 20px;
      border:0;
      background-color: transparent;
      cursor: pointer;
  }


  .btn{
          width: 30%;
          border-radius: 10px;
          background-color: white ;
          font-size:20px;
          text-align: center;
          padding: 10px 40px;
          border: 0;
          text-decoration: none;
          color: #129f8a;
          cursor: pointer;
        }

    .btn:hover{
            box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #0c7969 0 -3px 0 inset;
            transform: translateY(-2px);
            
            color:#2fb39d

    }

</style>

{% include 'app/navBar.html' with thisUser=thisUser userId=creator.profileId.userId.id showOptions=showOptions %}


<div class="course-header">

<!-- Course Info -->
  <div class="info">
    <h2>{{ course.name }}</h2>
    <h4>Course Time: ~{{ course.averageMasterTime }} mins</h4>
    {% if course.price == 0%}
      <h4>Cost: Free</h4>
    {% else %}
      <h4>Cost: {{ course.price }}€</h4>
    {% endif %}
  </div>

  <!-- Edit Course -->
{% if thisUser %}
  <div>
    <a class="btn" href="../editCourse/{{ course.id }}">Edit</a>
  </div>
  {% endif %}

  <!-- Enroll Course -->
  {% if not enrolled %}
  <div>
    <a  class="btn" href="../enrollCourse/{{ course.id }}">Enroll</a>
  </div>
  {% endif %}

  <!-- Course Owner -->
  <div>
    <h2>Course Creator:</h2>
    <h4><a href="../viewProfile/{{ creator.profileId.userId.id }}"> {{ creator.name}} {{ creator.surname }}</a></h4>
  </div>

  <!-- Category -->
  <div>
    <h2>Category:</h2>
    <h4>{{ course.categoryId.category }}</h4>
  </div>

  <!-- Live Chat -->
  <div class="live-chat">
    <h2>Live Chat</h2>
    {% if liveChat is not None %}
      <!-- TODO: Adicionar o link para o live chat -->
      <button class="button" onclick="document.location='/chat'"><img src="{% static 'images/' %}chat.png"></button>
    {% else %}
      <p>No Live Chat yet. Stay Tuned!</p>
    {% endif %}
  </div>
</div>

<div class="course-body">
  <!-- Teaching Units -->
  
  <div class="teaching-units">
    <h2>Teaching Units</h2>
    {% if thisUser %}
    
      <div>
        <a class="button" href="../addTeachingUnit/{{course.id}}" align="right">Add teaching Unit</a>
      </div>
    
    {% endif %}
    
    {% if not teachingUnits %}
      <p>No teaching units for now</p>
    {% else %}
    <ol>
      {% for unit in teachingUnits %}
      {% if enrolled %}
        <a class="teachingUnit" href="../teachingUnit/{{ unit.id }}"><li>{{ unit.description }}</li></a>
        {% else %}
        <li>{{ unit.description }}</li>
        {% endif %}
      <br />
      {% endfor %}
    </ol>
    {% endif %}
  </div>

  <!-- Ratings -->
  <div class="ratings">
    <div class="ratings-header">
      <h2>Ratings</h2>
    </div>

    {% if enrolled and not thisUser%}
    <div class="container">
      {%include 'app/rateCourse.html'%}
    </div>
    {% endif %}

    {% if not ratings %}
      {% if not user.is_authenticated %}
      {% elif not enrolled %}
      <p>To rate this course you need to be enrolled!</p>
      {% elif thisUser %}
      <p>No ratings yet!</p>
      {% else %}
      <p>Be the first one to rate this course!</p>
      {% endif %}
    {% else %}
      {% for rating in ratings %}
      <div class="rating">
        <p><b><a href="../viewProfile/{{ rating.userId.id }}">@{{ rating.userId.username }}</a> <img class= "star" src="{% static 'images/' %}star.png"> {{rating.rating }}</b><br><br>{{ rating.comment }}</p>
      </div>
      {% endfor %}
    {% endif %}
  </div>
</div>

{% endblock %}
