{% extends 'app/base.html' %}
{% block content %}

<style>

    select, input, label {
        margin: 10px;
    }

</style>


{% include 'app/navBar.html' with thisUser=thisUser userId=userId %}

<form method="POST" action="../saveNewCourse">
    {% csrf_token %}
    
    Name:<input type="text" name="name"><br>
    
    Average Master Time:<input type="number" name="averageMasterTime" min="1"><br>

    Price:<input type="number" name="price" step=".01" min="0"><br>

    Category: <select name="category">
        {% for category in categories %}
            <option value="{{ category.id }}">{{ category.category }}</option>
        {% endfor %}
    </select><br>

    <input type="submit" name="submit" value="Submit">
</form>

{% endblock %}