{% extends 'app/base.html' %}
{% block content %}

<style>

    .formElement {
        margin: 10px;
    }

</style>

{% include 'app/navBar.html' with thisUser=thisUser userId=userId showOptions=showOptions %}

<form method="POST" action="../saveNewCourse">
    {% csrf_token %}
    
    Name:<input required class="formElement" type="text" name="name"><br>
    
    Average Master Time:<input required class="formElement" type="number" name="averageMasterTime" min="1"><br>

    Price:<input required class="formElement" type="number" name="price" step=".01" min="0"><br>

    Category: <select required class="formElement" name="category">
        {% for category in categories %}
            <option class="formElement" value="{{ category.id }}">{{ category.category }}</option>
        {% endfor %}
    </select><br>

    <input class="formElement" type="submit" name="submit" value="Submit">
</form>

{% endblock %}