{%extends 'app/base.html'%}

{% block content %}

{% include 'app/navBar.html' with thisUser=thisUser userId=userId showOptions=showOptions %}

{%load static%}

<form action="" method="POST">
    {% csrf_token %} 
    Material: <select required name="remove_id"><br>
        {% for material in materials %}
        <option value="{{ material.id }}">{{ material.materialName  }}</option>
        {% endfor %}
    </select>
    <br/>
    <input type="submit" value="Delete" href="course/{{ course.id }}"/>
</form>

{% endblock %}