
{% load static %}
<style>
    ul{
        list-style: none;
    }

    nav{
        background-color: rgba(235, 235, 235, 0.851);
        width: 350px ;
        height: 73vh;
        left: -350px;
        position: absolute;
        transition: all .5s ;
        
        
    }

    #check{
        display: none;
    }
    input:checked ~ nav{
        transform: translateX(350px);
    }

    ul{
        bottom: 200px;
        position: absolute;
        
    }
    a{
        text-decoration: none;
        font-size: 24px;
        display: block; 
        padding: 20px 5px;  
        color: #0f8775;
    }
    a:hover{
        background-color:#0f8775;
        color: white;
    }

    label{
        padding: 15px;
        position: absolute;
        z-index: 1;
    }
</style>

<input type= "checkbox" id="check" >
<label for="check">
    <img src = "{% static 'images/menu2.png' %}" style="width: 60px;" >
</label>

<nav>
    <ul>
        <li> <a href="viewProfile">Profile</a></li>
        <li><a href="">Courses Enrolled</a></li>
        <li> <a href="/signout" style="color: rgb(166, 7, 7)" >LogOut</a></li>

    
    </ul>
</nav>