{% extends 'app/base.html' %}
{% block content %}

<style>

.container{
    margin:20px;
    display: flex;
    align-items: center;
    justify-content: center; 
    color:white;

    }

    .formContainer {
        background-color:#129f8a;
        max-width: 500px;
        height: fit-content;
        padding: 100px;
        border-radius: 20px;

    }

    form h1{
            text-align: center;
            font-size: 30px;
            color: white;
          }

    .description{
        background-color: rgba(255, 255, 255, 0.6);
        font-size: 15px;
    }

    .inputText{
        border: 0;
        border-bottom: 1px solid #07554aa3;
        transition: all 0.2s;
        outline: 0;
        color:white;
        padding: 10px;
        text-align: center;
        font-size: 15px;
        background-color: transparent;
        width: 87%;
    }

    .inputNumber{
        width: 87%;
        border: 0;
        color:white;
        border-bottom: 1px solid #07554aa3;
        padding: 10px;
        font-size: 15px;
        outline: 0;
        text-align: center;
        background-color: transparent;

    }

    .category{
        background-color: transparent;
        outline: 0;
        color:white;
        border:0px;
        font-size:15px;
    }

    .b{
        text-align: center;
    }


    .btn{
          width: 30%;
          border-radius: 10px;
          background-color: white ;
          font-size:20px;
          text-align: center;
          padding: 10px;
          border: 0;

          color: #129f8a;
          cursor: pointer;
        }

    .btn:hover{
            box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #0c7969 0 -3px 0 inset;
            transform: translateY(-2px);
            
            color:#2fb39d

    }

    .btnD{
          width: 30%;
          border-radius: 10px;
          background-color: white ;
          font-size:20px;
          text-align: center;
          padding: 10px;
          border: 0;
          justify-content: center;
          color: rgb(185, 6, 6);
          cursor: pointer;
        }

    .btnD:hover{
        box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(132, 4, 4) 0 -3px 0 inset;
        transform: translateY(-2px);
        color:rgb(221, 9, 9);
    }

    .btnR{
          width: 30%;
          border-radius: 10px;
          background-color: white ;
          font-size:20px;
          text-align: center;
          padding: 10px;
          border: 0;
          justify-content: center;
          color: rgb(13, 64, 105);
          cursor: pointer;
        }

    .btnR:hover{
        box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(13, 64, 105) 0 -3px 0 inset;
        transform: translateY(-2px);
        color: #96dae7;
    }

    option {
        color: black;
    }


</style>

{% include 'app/navBar.html' with thisUser=thisUser userId=userId showOptions=showOptions %}

{% if thisUser %}
<div class="container">
    <section class="formContainer">
        <form id="editForm" method="POST" action="../saveCourseChanges">
            {% csrf_token %}
            <h1>Edit Course</h1>
            <input class="formElement" type="hidden" name="courseId" value="{{ course.id }}">
            Name<br>
            <input required class="inputText" type="text" name="name" value="{{ course.name }}"><br><br>
            
            Average Master Time<br>
            <input required class="inputNumber" type="number" name="averageMasterTime" value="{{ course.averageMasterTime }}" min="1"> min<br><br>

            Price<br>
            <input required class="inputNumber" type="number" name="price" value="{{ course.price }}" step=".01" min="0"> €<br><br>

            Description<br><textarea rows="4" cols="45" class="description" name="description">{{ course.description }}</textarea><br><br>
            
            Category: <select required class="category" name="category"><br>
                <option class="formElement" value="{{ course.categoryId.id }}">{{ course.categoryId.category }}</option>
                {% for category in categories %}
                    <option class="formElement" value="{{ category.id }}">{{ category.category }}</option>
                {% endfor %}
            </select><br><br>

            <center>
                <input id="submitButton" class="btn" type="submit" name="submit" value="Submit">
                <input class="btnR" type="reset" value="Reset">
                
            </center>
        </form>
        <!-- DELETE -->
        <center>
            <br>
            <form id="deleteForm" method="POST" action="../deleteCourse">
                {% csrf_token %}
                <input class="formElement" type="hidden" name="courseId" value="{{ course.id }}">
                <input id="deleteButton" class="btnD" type="submit" value="Delete">
            </form>
    </center>
    </section>
</div>

{%elif isAdmin %}

<div class="container">
    <section class="formContainer">
        <form id="editForm" method="POST" action="../adminSaveCourseChanges">
            {% csrf_token %}
            <h1>Edit Course</h1>
            <input class="formElement" type="hidden" name="courseId" value="{{ course.id }}">
            
            Category: <select required class="category" name="category"><br>
                <option class="formElement" value="{{ course.categoryId.id }}">{{ course.categoryId.category }}</option>
                {% for category in categories %}
                    <option class="formElement" value="{{ category.id }}">{{ category.category }}</option>
                {% endfor %}
            </select><br><br>

            <center>
                <input id="submitButton" class="btn" type="submit" name="submit" value="Submit">
                <input class="btnR" type="reset" value="Reset">
                
            </center>
        </form>
        <!-- DELETE -->
        <center>
            <br>
            <form id="deleteForm" method="POST" action="../deleteCourse">
                {% csrf_token %}
                <input class="formElement" type="hidden" name="courseId" value="{{ course.id }}">
                <input id="deleteButton" class="btnD" type="submit" value="Delete">
            </form>
    </center>
    </section>
</div>

{% else %}

<h2>You don't have permission to edit this course!</h2>

{% endif %}

<script>
    let submitButton = document.getElementById('submitButton');
    submitButton.onclick = function() {
       return confirm("Are you sure you want to apply this changes?");
    }

    let deleteButton = document.getElementById('deleteButton');
    deleteButton.onclick = function() {
        return confirm("Are you sure you want to delete this course?");
    }
</script>

{% endblock %}