{% extends 'app/base.html' %}
{% block content %}

<style>

    .formElement {
        margin: 10px;
    }

</style>

{% include 'app/navBar.html' with thisUser=thisUser userId=userId showOptions=showOptions %}

{% if thisUser %}

<form method="POST" action="../saveCourseChanges">
    {% csrf_token %}

    <input class="formElement" type="hidden" name="courseId" value="{{ course.id }}">
    Name:<input class="formElement" type="text" name="name" value="{{ course.name }}"><br>
    
    Average Master Time:<input class="formElement" type="number" name="averageMasterTime" value="{{ course.averageMasterTime }}" min="1"><br>

    Price:<input class="formElement" type="number" name="price" value="{{ course.price }}" step=".01" min="0"><br>

    Category: <select class="formElement" name="category">
        <option class="formElement" value="{{ category.id }}">{{ course.categoryId.category }}</option>
        {% for category in categories %}
            <option class="formElement" value="{{ category.id }}">{{ category.category }}</option>
        {% endfor %}
    </select><br>

    <input class="formElement" type="submit" name="submit" value="Submit">
    <input class="formElement" type="reset" value="Reset">
</form>

{% else %}

<h2>You don't have permission to edit this course!</h2>

{% endif %}

{% endblock %}