{% extends 'app/base.html' %}
{% block content %}

{% include 'app/navBar.html' with thisUser=thisUser userId=userId showOptions=showOptions %}

<form method="POST" action="../saveEnrollment">
    {% csrf_token %}

    <input type="hidden" name="courseId" value="{{ course.id }}">

    {% if course.price > 0 %}
        {% if not paymentMethods %}
            <a href="../payments">Add a payment method</a>
        {% else %}
        <label for="paymentMethod">Choose card: </label>
        <select name="paymentMethod">
            {% for paymentMethod in paymentMethods %}
                <option value="{{ paymentMethod.id }}">{{ paymentMethod.cardNumber }}</option>
            {% endfor %}
        </select><br>
        {% endif %}
    {% endif %}

    <input type="submit" name="enroll" value="Enroll Course">
    
</form>


{% endblock %}