{% extends 'app/base.html' %}
{% block content %}

    {% include 'app/searchBar.html' %}
    <h3>Learning Together Platform</h3>

    {% if user.is_authenticated %}
    <h3>Hello {{ fname }}</h3>
    <h4>You are logged in.</h4>
    <h3 style="font-size:130%">My courses</h3>
    
    <button onclick="document.location='/own_course'">Robotics</button>
    <br>
    <br>
    <button type="submit"><a href="/signout">Log Out</a></button>

    {% else %}
    <button class="button-1" type="submit"><a href="/register">Register</a></button>
    <br>
    <br>
    <button class="button-1" type="submit"><a href="/loginpage">Log In</a></button>
    {% endif %}

    <script src="" async defer></script>

{% endblock %}
