{% extends 'app/base.html' %}
{% block content %}

    {% load static %}

            {% include 'app/header.html' %}


            <style>
                .background{
                    width: 100% ;
                    min-height: 73vh;
                    padding: 5‰;
                    background-image:  url('{% static 'images/background_2.png' %}');
                    background-repeat : no-repeat;
                    background-position: center;
                    background-size: cover;   
                }

                

                .button-1 {

                    width: 3%;
                    border-radius: 10px;
                    background-color: rgb(13, 64, 105) ;
          
                    text-align: center;
                    padding: 10px 40px;
                    border: 0;

                    color: white;
                    cursor: pointer;
                    font-size: 15px;
                    position: center;
                    left: 80%;
                    top: -160px;
                    text-decoration: none;
                    }
                


                    .button-1:hover {
                    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
                        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(13, 64, 105) 0 -3px 0 inset;
                    transform: translateY(-2px);
                    }

                    .button-1:active {
                    box-shadow: rgb(13, 64, 105)0 3px 7px inset;
                    transform: translateY(2px);
                    }
              

            </style>
        

        <div class = "background">
            {% csrf_token %}
            {%if user.is_authenticated%}

            {% include 'app/dropdownMenu.html' %}
                
            {%else%}

            <a href = "loginpage" class="button-1" style= "background-color: white; color:black;" type="button", id = 'login'>Login</a>
            <a href = "register" class="button-1" type="button", id = 'register'>Register</a>
            {%endif%}
            {% include 'app/searchBar.html' %}

        </div>
          

{% endblock %}