<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Chat Def</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <meta name="referrer" content="no-referrer-when-downgrade">

    </head>
    <body>

        <h3>Live Chat definitions</h3>

        <script src="" async defer></script>

        <input type="checkbox" id="able" name="able" value="enable"></input>
        <label for="able">Enable Live Chat</lable><br><br><br>
        <p>Chat session schedule</p>
        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=UTC&src=cnVpcm9kcmlndWVzZ0BnbWFpbC5jb20&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=cHQucG9ydHVndWVzZSNob2xpZGF5QGdyb3VwLnYuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23039BE5&color=%2333B679&color=%230B8043" style="border:solid 1px #777" width="300" height="300" frameborder="0" scrolling="no"></iframe>
        <br><br><p>Maximum number of participants for the next session:</p>
        <br><br><button onclick="">Save</button><button onclick="">Discard</button>
    </body>
</html>