<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Chat Def</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <meta name="referrer" content="no-referrer-when-downgrade">

    </head>
    <body>
        
        <h3>Live Chat definitions</h3><br><br>

        {%if thisUser %}

        <form action="../saveChatDef" method="POST">
            {% csrf_token %}

            <input type="hidden" name="course_Id" value="{{ course.id }}">
            <input type="hidden" name="able" value="False"> 
            <label for="able">
                <input type="checkbox" id="able" name="able" value="True">   
                Enable Live Chat
            </lable><br><br>

            <p>Chat session schedule</p>
            <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=UTC&src=cnVpcm9kcmlndWVzZ0BnbWFpbC5jb20&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=cHQucG9ydHVndWVzZSNob2xpZGF5QGdyb3VwLnYuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23039BE5&color=%2333B679&color=%230B8043" style="border:solid 1px #777" width="300" height="300" frameborder="0" scrolling="no"></iframe>

            
            <br><br><br><label for = "Max_participants">Max. participants for the next session:</label>
            <input type="number" id="Max_participants" name="Max_participants" required />
            
            
            <br><br><br><button type="submit" name="save" value="Save">Save</button>
                        <button type="submit" name="discard" value="Discard">Discard</button>
        </form>
        
        {%else%}
        <h2>You don't have permission to edit this Chat!</h2>

        {%endif%}


    </body>
</html>