<style>

  .container {
      max-width: 500px;
      margin: 0 auto;
  }

  .input_single{
    position: relative;
    margin: 20px 0;
  }

  .input_single label {
    position: absolute;
    left: 0;
    bottom: 5px;
    transition: all 0.2s;
    cursor: text;
  }
  .input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #ccc ;
    padding: 5px;
    font-size: 17px;
    outline: 0;

  }

  form .input_single .input:focus ~ label,
  form .input_single .input:valid ~ label{
    transform: translateY(-24px);
    font-size: 12px;
    color: gray;
  }

</style>

<div class = "container">
  <form action="searchCourse" method="GET">
    <div class="input_single"> 
    <input class= "input" type="text" id="name" name="name" placeholder="Search" />
    </div>
    <button class="button-1" type="submit">Search Course</button>
    <button class="button-1" type="submit" formaction="searchUser">Search User</button>
  </form>
</div>
