{% extends 'app/base.html' %} {% block content %}
{% include 'app/navBar.html' with thisUser=thisUser userId=userId showOptions=showOptions %}
<head>
  <link rel="stylesheet" href="..\static\addtu.css">
</head>

<!--Display teaching unit name and description, general information -->
<div class="heading">
  <h3>{{ course.name }}</h3>
  <h4>{{ unit.description}}</h4>
</div>

<div class="dropdown", style="float:right;">
  <button class="dropbtn">Add Material</button>
  <div class="dropdown-content">
  <a href="../addTeachingUnitWritten/{{ unit.id }}">Add written</a>
  <a href="../addTeachingUnitVideo/{{ unit.id }}">Add video</a>
  <a href="../addTeachingUnitAudio/{{ unit.id }}">Add audio</a>
  <a href="../addTeachingUnitImage/{{ unit.id }}">Add image</a>
  </div>
</div>

<div class=remove, style = "float:right;">
  
  <a href="../removeMaterial/{{ unit.id }}">Remove Material<a/>

  
</div>


<!--Display all the materials related to the current teaching unit -->
<div>
  <h4 class="heading">Materials:</h4>
  <br />
  <ul>
    {% for material in materials %}
    <li>
      <!--INSERT HREF FOR MATERIALS OF DIFFERENT KINDS? -->
      {% if material.type == 'video' %}
      <a href="{{ material.content }}"><h1>{{ material.materialName }}</h1></a>
      {% endif %}
      
      {% if material.type == 'written' %}
      <h1> {{material.materialName}} </h4>
      <p> {{material.content}} </p> 
      {% endif %}
    
      {% if material.type == 'image' %}
      <img src={{material.content}} alt={{material.materialName}} style="width:400px;height:400px;"/>
      {% endif %}

      <!--{% if material.type == 'audio' %}-->
      <a href="{{ material.content }}"><h1>{{ material.materialName }}</h1></a>
      <!--{% endif %}-->

    </li>
    <br />
    {% endfor %}
  </ul>
</div>
{% endblock %}
