{% extends 'app/base.html' %}
{% block content %}
{% load static %}
    <style>

        .navbar{
            display: flex;
            width: 100%;
            background-color: #96dae7;
            position: relative;
            justify-content: space-between;
            text-align: center;
            padding: 15px 30px;

        }

        .navbar .title{
            font-size: 35px;
            font-weight: 800;
            color: rgb(13, 64, 105);
            cursor: pointer;
            margin-top: 2%;
        }
        .navbar .ulist{
            display: flex;
            list-style: none;
            margin: auto 0;
            margin-right: 10%;
        }

        .navbar .ulist li{
            margin: 0 20px;
        }

        .navbar .ulist li a {
            color: #fff;
            font-size: 20px;
            text-decoration: none;
            text-transform: capitalize;
            padding: 5px 10px;
        }

        .navbar .ulist li:hover a {
            background-color: #fff;
            color: #0f8775
        }

        .image{
            position: fixed;
            top: 30%;
            width: 20%;
        }

        

        .name{
            position: absolute; 
            top:26%; 
            font-size:xx-large;
            font-weight: bold;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            left: 25%;
        }

        .username{
            position: absolute; 
            top:35%; 
            font-size:large;
            font-display:inherit;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            left: 25%;
        }

    </style>
    
        <nav class="navbar">
            <div class="title"><a style="text-decoration: none; color:rgb(13, 64, 105);" href="../">Learning Together</a></div>
            <div class="container">
                {% include 'app/searchBar.html' %}
            </div>
            <ul class="ulist">
                <li><a href="../viewProfile/{{ user.id }}">Profile</a></li> 
                <li><a href="../payments">Payments</a></li>
                <li><a href="../own_course">Courses Created</a></li> 
            </ul>
            {% include 'app/menu.html' %}
        </nav>
     



        <p style="text-align:left; display: table-cell;"><img class="image" src="{% static 'images/' %}{{ public.avatar }}.png"></p>
        
        <p class = "name"> {{ public.name }} {{ public.surname }}</p>
        <p class="username">Username: {{ public.profileId.userId.username }}</p>


    




{% endblock %}