{% extends 'app/base.html' %}
{% block content %}
{% load static %}
    <style>


        .image{
            position: fixed;
            top: 30%;
            width: 20%;
        }

        

        .name{
            position: absolute; 
            top:26%; 
            font-size:xx-large;
            font-weight: bold;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            left: 25%;
        }

        .username{
            position: absolute; 
            top:35%; 
            font-size:large;
            font-display:inherit;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            left: 25%;
        }

    </style>
    
        {% include 'app/navBar.html' %}


        <p style="text-align:left; display: table-cell;"><img class="image" src="{% static 'images/' %}{{ public.avatar }}.png"></p>
        
        <p class = "name"> {{ public.name }} {{ public.surname }}</p>
        <p class="username">Username: {{ public.profileId.userId.username }}</p>


    




{% endblock %}